<%- include("partials/header.ejs") %>

<div>
    <br>
    <div class="container border border-des">
        <div class="container border-des">
            <br>
            <h3 class="text-center border-des"><b class="border-des"><%= seTitle %></b></h3>
            <h5 class="text-center border-des"><i class="border-des"><%= seDesc %></i></h5>
            <br>
            <p class="border-des"><%= seCont %></p>
            
            

        </div>
       
    </div>     
</div>

<%- include("partials/footer.ejs") %>
